<!-- Page Loader -->
<div class="page-loader-wrapper" id="page-loader" style="display:none ">
  <div class="loader">
    <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/img/Triangles-1s-200px.svg" width="200" height="200"
        alt="Oreo">
    </div>
    <p>Please wait...</p>
  </div>
</div>
<!-- Page Loader End -->

<section clasee="banner padding-tb-200px sm-ptb-80px background-overlay"
  style="background-image: url('http://placehold.it/1320x830'); height: 150px;">
  <div id="page-title" class="padding-tb-30px gradient-white" style="padding-top:120px">
    <div class="container">
      <ol class="breadcrumb opacity-5">
        <li><a href="">Home <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="">News <i class="fas fa-chevron-right"></i></a></li>
        <li class="active">Search</li>
      </ol>
    </div>
  </div>

</section>

<div class="margin-tb-30px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <div class="margin-bottom-30px box-shadow">
          <div class="padding-30px background-white">
            <div class="row">
              <div class="col-lg-12">
                <div class="listing-search">
                  <form class="row no-gutters" (ngSubmit)="OnSubmit()">
                    <div class="col-md-8">
                      <div class="keywords">
                        <input class="listing-form first" type="text" placeholder="Keywords..." value=""
                          [(ngModel)]="formData.Query" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <button class="listing-bottom background-second-color box-shadow" type="submit">Search
                        Now</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">

        <div class="background-white border-radius-10 margin-bottom-45px">
          <div class="padding-25px">
            <h3 class="margin-lr-20px"><i class="fas fa-search margin-right-10px text-main-color"></i> Search Filter
            </h3>
            <!-- Listing Search -->
            <div class="listing-search">
              <form>
                <div class="form-group">
                  <label for="Top">Type</label>
                  <select class="form-control" id="Top" [(ngModel)]="Type" [ngModelOptions]="{standalone: true}">
                    <option value="top">Top Headlines</option>
                    <option value="everything">Everything</option>
                  </select>
                </div>
                <br>
                <div class="form-group" *ngIf="Type !== 'top'">
                  <label for="Sources">Sources</label>
                  <select class="form-control" id="Sources" [(ngModel)]="Source" [ngModelOptions]="{standalone: true}"
                    onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                    <option value="">All</option>
                    <option *ngFor="let src of Sources" value="{{src.id}}">{{src.name}}</option>
                  </select>
                </div>

                <div class="form-group" *ngIf="Type !== 'top'">
                  <label for="SortBy">SortBy</label>
                  <select class="form-control" id="SortBy" [(ngModel)]="Sortby" [ngModelOptions]="{standalone: true}">
                    <option value="relevancy">relevancy</option>
                    <option value="popularity">popularity</option>
                    <option value="publishedAt">publishedAt</option>

                  </select>
                </div>


                <div class="form-group" *ngIf="Type !== 'everything'">
                  <label for="Countries">Countries</label>
                  <select class="form-control" id="Countries" [(ngModel)]="Country"
                    [ngModelOptions]="{standalone: true}" onfocus='this.size=5;' onblur='this.size=1;'
                    onchange='this.size=1; this.blur();'>
                    <option value="">All</option>
                    <option *ngFor="let count of Countries" value="{{count.name}}">{{count.id}}</option>
                  </select>
                </div>
                <div class="form-group" *ngIf="Type !== 'everything'">
                  <label for="Categories">Categories</label>
                  <select class="form-control" id="Categories" [(ngModel)]="Category"
                    [ngModelOptions]="{standalone: true}" onfocus='this.size=5;' onblur='this.size=1;'
                    onchange='this.size=1; this.blur();'>
                    <option value="">All</option>
                    <option *ngFor="let cat of categories" value="{{cat.name}}">{{cat.name}}</option>
                  </select>
                </div>

              </form>
            </div>
            <!-- // Listing Search -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="padding-tb-100px background-grey-1" id="search-results" *ngIf="submit">
  <div class="container">
    <!-- Title -->
    <div class="row justify-content-center margin-bottom-45px">
      <div class="col-lg-10">
        <div class="row">

          <div class="col-md-12 wow fadeInUp">

            <h1 class="text-second-color font-weight-300 text-lg-center text-sm-center margin-tb-15px">Search Results
            </h1>
            <h6 class="text-center">Sentiment values range from -1 to 1 </h6>
            <chart [type]="'pie'" [data]="Data" [options]="options"></chart>
            <br>

            <h6 class="text-grey-2 text-center"><span>Total Results : </span> {{totalResults}}</h6>
            <h6 class="text-green text-center"><span>Positive Results : </span> {{totalResultsP}}</h6>
            <h6 class="text-red text-center"><span>Negative Results : </span> {{totalResultsN}}</h6>
            <h6 class="text-blue text-center"><span>Neutral Results : </span> {{totalResultsNE}}</h6>
          </div>

        </div>
      </div>
    </div>
    <!-- // Title -->
    <ul class="nav nav-tabs row" id="myTab" role="tablist">
      <li class="nav-item col-3">
        <a class="nav-link active text-center" id="all-tab" data-toggle="tab" data-target="#all" role="tab"
          aria-controls="all" aria-selected="true" style="cursor :pointer"><b>All</b></a>
      </li>
      <li class="nav-item col-3">
        <a class="nav-link text-center" id="pos-tab" data-toggle="tab" data-target="#pos" role="tab" aria-controls="pos"
          aria-selected="false" style="cursor :pointer ;color: green"><b>Positive</b></a>
      </li>
      <li class="nav-item col-3">
        <a class="nav-link text-center" id="neg-tab" data-toggle="tab" data-target="#neg" role="tab" aria-controls="neg"
          aria-selected="false" style="cursor :pointer ;color: red"><b>Negative</b></a>
      </li>
      <li class="nav-item col-3">
        <a class="nav-link text-center" id="neu-tab" data-toggle="tab" data-target="#neu" role="tab" aria-controls="neu"
          aria-selected="false" style="cursor :pointer ;color: #007cff"><b>Neutral</b></a>
      </li>

    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab" style="margin:2%">
        <div class="row">

          <!-- All -->
          <div class="col-lg-6 col-md-6 hvr-bob sm-mb-80px" *ngFor="let news of NewsData ; let i = index"
            style="margin-bottom:50px">
            <div class="background-white box-shadow wow fadeInUp" data-wow-delay="0.2s">
              <div class="thum">
                <a href="{{news.url}}" target="_blank"><img id="NewsImage{{i}}" src="{{news.urlToImage}}"
                    (error)="updateUrl($event , i)" alt="" style="width:100% ; height: 300px; "></a>
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="padding-30px">
                    <!-- <span class="text-grey-2">{{news.title}} &nbsp;</span> -->
                    <h5 class="margin-tb-15px"><a class="title" href="{{news.url}}">{{news.title}}</a></h5>
                    <p class="desc">
                      {{news.description}}
                    </p>

                    <small class="float-left text-grey-2">{{news.publishedAt | date:'short'}}</small><br>
                    <small class="float-left text-grey-2">{{news.source.name}}</small>


                  </div>

                </div>
                <div class="col-5">
                  <div class="padding-30px">
                    <h6 class="margin-tb-15px"><a class="title">Sentiment Statstics</a></h6>

                    <div
                      [ngClass]="{'positive' : news.Sentiment > 0 , 'negitive' : news.Sentiment < 0 , 'neutral' : news.Sentiment === 0  }">
                      <span title="{{news.Sentiment}}">{{news.SentimentWord}}
                      </span>

                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- // All -->
        </div>

      </div>
      <div class="tab-pane fade" id="pos" role="tabpanel" aria-labelledby="pos-tab" style="margin:2%">
        <div class="row">

          <!-- All -->
          <div class="col-lg-6 col-md-6 hvr-bob sm-mb-80px" *ngFor="let news of NewsDataP ; let i = index"
            style="margin-bottom:50px">
            <div class="background-white box-shadow wow fadeInUp" data-wow-delay="0.2s">
              <div class="thum">
                <a href="{{news.url}}" target="_blank"><img id="NewsImage{{i}}" src="{{news.urlToImage}}"
                    (error)="updateUrl($event , i)" alt="" style="width:100% ; height: 300px; "></a>
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="padding-30px">
                    <!-- <span class="text-grey-2">{{news.title}} &nbsp;</span> -->
                    <h5 class="margin-tb-15px"><a class="title" href="{{news.url}}">{{news.title}}</a></h5>
                    <p class="desc">
                      {{news.description}}
                    </p>

                    <small class="float-left text-grey-2">{{news.publishedAt | date:'short'}}</small><br>
                    <small class="float-left text-grey-2">{{news.source.name}}</small>


                  </div>

                </div>
                <div class="col-5">
                  <div class="padding-30px">
                    <h6 class="margin-tb-15px"><a class="title">Sentiment Statstics</a></h6>

                    <div
                      [ngClass]="{'positive' : news.Sentiment > 0 , 'negitive' : news.Sentiment < 0 , 'neutral' : news.Sentiment === 0  }">
                      <span title="{{news.Sentiment}}">{{news.SentimentWord}}
                      </span>

                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- // All -->
        </div>

      </div>
      <div class="tab-pane fade" id="neg" role="tabpanel" aria-labelledby="neg-tab" style="margin:2%">
        <div class="row">

          <!-- All -->
          <div class="col-lg-6 col-md-6 hvr-bob sm-mb-80px" *ngFor="let news of NewsDataN ; let i = index"
            style="margin-bottom:50px">
            <div class="background-white box-shadow wow fadeInUp" data-wow-delay="0.2s">
              <div class="thum">
                <a href="{{news.url}}" target="_blank"><img id="NewsImage{{i}}" src="{{news.urlToImage}}"
                    (error)="updateUrl($event , i)" alt="" style="width:100% ; height: 300px; "></a>
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="padding-30px">
                    <!-- <span class="text-grey-2">{{news.title}} &nbsp;</span> -->
                    <h5 class="margin-tb-15px"><a class="title" href="{{news.url}}">{{news.title}}</a></h5>
                    <p class="desc">
                      {{news.description}}
                    </p>

                    <small class="float-left text-grey-2">{{news.publishedAt | date:'short'}}</small><br>
                    <small class="float-left text-grey-2">{{news.source.name}}</small>


                  </div>

                </div>
                <div class="col-5">
                  <div class="padding-30px">
                    <h6 class="margin-tb-15px"><a class="title">Sentiment Statstics</a></h6>

                    <div
                      [ngClass]="{'positive' : news.Sentiment > 0 , 'negitive' : news.Sentiment < 0 , 'neutral' : news.Sentiment === 0  }">
                      <span title="{{news.Sentiment}}">{{news.SentimentWord}}
                      </span>

                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- // All -->
        </div>
      </div>
      <div class="tab-pane fade" id="neu" role="tabpanel" aria-labelledby="neu-tab" style="margin:2%">
        <div class="row">

          <!-- All -->
          <div class="col-lg-6 col-md-6 hvr-bob sm-mb-80px" *ngFor="let news of NewsDataNE ; let i = index"
            style="margin-bottom:50px">
            <div class="background-white box-shadow wow fadeInUp" data-wow-delay="0.2s">
              <div class="thum">
                <a href="{{news.url}}" target="_blank"><img id="NewsImage{{i}}" src="{{news.urlToImage}}"
                    (error)="updateUrl($event , i)" alt="" style="width:100% ; height: 300px; "></a>
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="padding-30px">
                    <!-- <span class="text-grey-2">{{news.title}} &nbsp;</span> -->
                    <h5 class="margin-tb-15px"><a class="title" href="{{news.url}}">{{news.title}}</a></h5>
                    <p class="desc">
                      {{news.description}}
                    </p>

                    <small class="float-left text-grey-2">{{news.publishedAt | date:'short'}}</small><br>
                    <small class="float-left text-grey-2">{{news.source.name}}</small>


                  </div>

                </div>
                <div class="col-5">
                  <div class="padding-30px">
                    <h6 class="margin-tb-15px"><a class="title">Sentiment Statstics</a></h6>

                    <div
                      [ngClass]="{'positive' : news.Sentiment > 0 , 'negitive' : news.Sentiment < 0 , 'neutral' : news.Sentiment === 0  }">
                      <span title="{{news.Sentiment}}">{{news.SentimentWord}}
                      </span>

                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- // All -->
        </div>
      </div>

    </div>

  </div>
</section>
