<header>
  <div id="fixed-header-dark" class="header-output fixed-header">
    <div class="container header-in">
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <a href="" class="d-inline-block margin-tb-15px header-main" id="head-line">
            <img id="logo" src="assets/img/Webp.net-resizeimage.gif" alt=""> Opinion Mining</a>
          <h6 id="head-tag" style="margin-left:15% ; margin-top:-4%">Thinking about the right decision? We'll help you
            find it.
          </h6>
          <a class="mobile-toggle padding-13px background-main-color" href="#"><i class="fas fa-bars"></i></a>
        </div>
        <div class="col-lg-7 col-md-12 position-inherit">
          <ul id="menu-main" class="nav-menu float-lg-right link-padding-tb-20px">
            <li><a class="header-item  wow fadeInUp opacity-hover-7 hvr-bob" data-wow-delay="0.2s" href="#"
                id="head-one">Home</a></li>
            <li><a class="header-item  wow fadeInUp opacity-hover-7 hvr-bob" data-wow-delay="0.4s"
                [routerLink]="['/twitter']" id="head-two">Twitter</a></li>
            <li><a class="header-item  wow fadeInUp opacity-hover-7 hvr-bob" data-wow-delay="0.6s"
                [routerLink]="['/news']" id="head-three">News</a></li>
            <li><a class="header-item  wow fadeInUp opacity-hover-7 hvr-bob" data-wow-delay="0.8s"
                [routerLink]="['/word-cloud']" id="head-four">Word Cloud</a></li>

          </ul>
        </div>

      </div>

    </div>
  </div>
</header>
<!-- // Header  -->
