<section class="banner padding-tb-200px sm-ptb-80px background-overlay"
  style="height : 580px ; background-image: url('assets/img/ss.png'); background-size: 100% 580px ; background-repeat: no-repeat; background-position: center">
  <div class="container z-index-2 position-relative">
    <!-- <div class="title">
      <h1 class="text-title-large text-main-color font-weight-300 margin-bottom-15px"><b>Opinion Mining</b></h1>
      <h4 class="font-weight-300 text-main-color text-up-small"><b>Thinking about the right decision . We'll help you
        find it</b></h4>
    </div> -->

  </div>
</section>

<section class="padding-tb-100px">
  <div class="container">

    <div class="row">

      <div class="col-lg-4 col-md-6 sm-mb-30px wow fadeInUp" data-wow-delay="0.2s">
        <div class="service text-center opacity-hover-7 hvr-bob">
          <div class="icon margin-bottom-10px">
            <img src="assets/img/icon/service-2.png" alt="">
          </div>
          <h3 class="text-second-color">High Accuracy</h3>
          <p class="text-grey-2">Fast is fine, but accuracy is everything.</p>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 sm-mb-30px wow fadeInUp" data-wow-delay="0.4s">
        <div class="service text-center opacity-hover-7 hvr-bob">
          <div class="icon margin-bottom-10px">
            <img src="assets/img/icon/service-3.png" alt="">
          </div>
          <h3 class="text-second-color">Quick search</h3>
          <p class="text-grey-2">There's nothing that cannot be found.</p>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 sm-mb-30px wow fadeInUp" data-wow-delay="0.6s">
        <div class="service text-center opacity-hover-7 hvr-bob">
          <div class="icon margin-bottom-10px">
            <img src="assets/img/icon/service-4.png" alt="">
          </div>
          <h3 class="text-second-color">Know better</h3>
          <p class="text-grey-2">you did then what you knew how to do. Now that you know better, you do better.</p>
        </div>
      </div>

    </div>

  </div>
</section>
